@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  /* background-color: rgb(216, 216, 216); */
  background-color: rgb(230, 229, 229);
  width: 350px;
  height: 460px;
  padding: 15px 7px;
  margin: 0 15px;
  border-radius: 10px;
  transition: all 0.6s;
}
.card:hover {
  box-shadow: rgba(232, 228, 228, 0.12) 0px 5px 6px 0px,
    rgba(207, 209, 209, 0.32) 0px 5px 19px 0px;
  transform: scale(1.02);
}

img {
  width: 340px;
  right: 340px;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  /* font-weight: 500; */
}

/* MODAL  */
.titleModal {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
.paragrafo {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 500;
}
span {
  font-size: 16px;
  font-weight: 500;
}

.link {
  text-decoration: none;
  /* color: rgb(247, 95, 234); */
  color: rgb(15, 150, 150);

  font-size: 18px;
}
.paragrafo {
  font-size: 18px;
}
