footer {
  /* position: absolute;
  bottom: 10px;
  text-align: center; */
  position: static;
  /* left: 0;
  bottom: 0; */
  bottom: 15px;
  /* margin: 20px; */
  width: 100%;
  color: white;
  text-align: center;
}
footer p {
  color: rgb(237, 226, 226);
  font-size: 17px;
}
